.App {
  text-align: center;
    padding: 16px;
}

.links {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.products {
    padding: 16px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 4 equal columns */
    gap: 16px;
    list-style-type: none;
}

.product-card {
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border: 1px black solid;
    border-radius: 8px;
}

.product-price {
    font-weight: bold;
    margin: auto 0 0 0 ;
}

.message {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #2196F3;
    color: white;
    padding: 12px 24px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    z-index: 1000;
    animation: slideDown 0.3s ease-out;
}

@keyframes slideDown {
    from { opacity: 0; transform: translateX(-50%) translateY(-20px); }
    to   { opacity: 1; transform: translateX(-50%) translateY(0); }
}

.custom-select-option {
    width: 100%;
    cursor: pointer;
    list-style: none;
}

.custom-select-option:hover {
    background-color: #2196F3;
}

.custom-select-dropdown {
    padding: 8px;
    margin-top: 0;
    background-color: darkgray;
}

.active {
    background-color: #2196F3;
}
